.quote {
    display: flex;
    justify-content: flex-end;
    margin-top: 35%;

    h1 {
        color: rgb(132, 141, 49);
        font-family: 'Bebas Neue',
            cursive;
        font-family: 'Comfortaa',
            cursive;
        font-family: 'Diplomata', ;
        margin-right: 30px;
    }
}